/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/src/.deps/
/src/.testdeps/
/src/Makefile
/src/Makefile.in
/src/*.o
/stamp-h1
/src/nfdecompress
/src/nfrecompress
/src/nffileinfo
/src/.dirstamp
/doc/Doxyfile
/doc/Makefile
/doc/Makefile.in
/doc/html/
/doc/man/
/doc/xml/
/doc/doxygen-build.stamp
/test-driver
/test/Makefile.in
/test/Makefile
/test/test.sh
/test/test-suite.log
/test/test.sh.log
/test/test.sh.trs
/test/test.temp*
/test/.testdeps/
/test/unittests
/test/unittests-unittests.o
/test/unittests.sh.log
/test/unittests.sh.trs

